<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" autocomplete="off"  onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" autocomplete="off"  onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="name_phone_email">
		<button onclick="toGetDateFindMember(this)" type="button" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="deleteMembers()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a></span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" id="select_all" name="" value=""></th>
				<th width="80">ID</th>
				<th width="100">用户名</th>
				<th width="40">性别</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th width="">地址</th>
				<th width="130">加入时间</th>
				<th width="70">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user:${users}" class="text-c">
				<td><input type="checkbox" value="1" name="select_item"></td>
				<td class="id" th:text="${user.getUid()}"></td>
				<td ><u th:text="${user.getUname()}" style="cursor:pointer" class="text-primary" th:onclick="|member_show('会员资料','member-show?uid=${user.getUid()}&uname=${user.getUname()}&uphone=${user.getUphone()}&usex=${user.getUsex()}&uaddress=${user.getUaddress()}&ucreate_time=${user.getUcreate_time()}','id','360','400')|"></u></td>
				<td th:text="${user.getUsex()}"></td>
				<td th:text="${user.getUphone()}"></td>
				<td th:text="${user.getUemail()}"></td>
				<td th:text="${user.getUaddress()}" class="text-l"></td>
				<td th:text="${user.getUcreate_time()}"></td>
				<td class="td-status">
				<span th:text="${user.getUstate()}" th:if="${user.getUstate()} eq '已启用' "  class="label label-success radius">已启用</span>
				<span th:text="${user.getUstate()}" th:if="${user.getUstate()} eq '已停用' "  class="label label-default radius">已启用</span>
				</td>
				<td class="td-manage">
				<a th:if="${user.getUstate()} eq '已启用' "  style="text-decoration:none" th:onClick="'member_stop(this)'" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
				<a th:if="${user.getUstate()} eq '已停用' "  style="text-decoration:none" th:onClick="'member_start(this)'" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>
				 <a title="编辑" href="javascript:;" th:onclick="|member_edit('编辑','member-edit',${user.getUid()},'','510')|" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
				 <a style="text-decoration:none" class="ml-5" th:onClick="|change_password('修改密码','change-password?uname=${user.getUname()}',${user.getUid()},'600','270')|" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a> 
				 <a title="删除" href="javascript:;" th:onclick="'member_del(this,' + ${user.getUid()}  + ')'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				 </tr>
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.15/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script th:inline="none" >
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	
});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url+"?uid="+id,w,h);
}
/*用户-停用*/
function member_stop(obj){
	var uid = $(obj).parent().parent().children().eq(1).text();
	var ustate = $(obj).parent().parent().children().eq(8).text();
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: 'toChangeUserState?uid='+uid + '&ustate='+ustate,
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
/*用户-启用*/
function member_start(obj){
	var uid = $(obj).parent().parent().children().eq(1).text();
	var ustate = $(obj).parent().parent().children().eq(8).text();
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: 'toChangeUserState?uid='+uid + '&ustate='+ustate,
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url + "?uid="+id,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url+"&uid="+id,w,h);	
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: 'toDeleteUser?uid='+id,
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}


/*By_lxg : 选中所有元素，当前页面*/
var checkboxes = document.getElementsByName('select_item');
              $("#select_all").click(function() {
              	  var bu_ids = new Array(checkboxes.length);
                  for (var i = 0; i < checkboxes.length; i++) {
                      var checkbox = checkboxes[i];
                      bu_ids[i]=$(checkbox).parents("tr").children(".id").text();
                      //如果select_all没有选中，子都不选中，如果选中就都选中
                      if (!$(this).get(0).checked) {
                          checkbox.checked = false;
                      } else {
                          checkbox.checked = true;
                      }
                  }
              });

function deleteMembers(){
	var checkboxes = document.getElementsByName('select_item');
	var checkedLines = new Array();
	var checked_ids = new Array();
	var j=0;
	for (var i = 0; i < checkboxes.length; i++) {
		//如果被勾选了
		if(checkboxes[i].checked)
			{
				checked_ids[j] = $(checkboxes[i]).parents("tr").children(".id").text()
				checkedLines[j] = $(checkboxes[i]).parents("tr")
				j=j+1
			}
	}
	//提交勾选的数据
	$.ajax({
		type: 'POST',
		url: 'toDeleteMembers',
		data:{
		        "checked_ids":checked_ids
		 },
		dataType: 'json',
		//传递数组时必须使用true，因为不使用则是lists[]=xx&lists[]=xx，使用则是element = xx& element=xx
		traditional:true,
	    cache:false,
	    async:false,
		success: function(data){
			for (var i = 0; i < checkedLines.length; i++) {
				checkedLines[i].remove();
			}
		layer.msg('已删除!',{icon: 6,time:1000});
		//刷新一下，免得分页出现不一样
		location.reload()
		},
		error:function(data) {
			console.log(data.msg);
		},
	});	
}

/**writed by lxg**/
/*时间段查询*/
function toGetDateFindMember(obj){
	var logMin = $(obj).parent().children("#logmin").val()
	var logMax = $(obj).parent().children("#logmax").val()
	var name_phone_email = document.getElementsByName("name_phone_email")[0].value;
	var url = "toGetDateFindMember?logMin=" + logMin  +"&logMax=" + logMax + "&name_phone_email=" + name_phone_email;
	if(logMin==""||logMax==""){
		layer.msg('时间不能为空!',{icon: 5,time:1000});	
	}
	else if(name_phone_email==""){
		layer.msg('管理员名称不能为空!',{icon: 5,time:1000});
	}else{
		window.location.href=url;
	}
}
</script> 

<!-- <script> 
window.onload=function(){ alert('[[${users.get(0).getUname()}]]') }-->
</script>
</body>
</html>